In [4]:
import pandas as pd
from pandas import Series,DataFrame
import numpy as np

In [5]:
customer_details=pd.read_csv('Customer_and_bank details_p1.csv')
customer_details.head()

,Customer_id,age,job,marital,education,default,housing,loan,Region_Code,State_Code,City_Code
0,1,56,services,married,high.school,no,no,yes,3,S1,C1
1,2,45,services,married,basic.9y,unknown,no,no,3,S1,C1
2,3,59,admin.,married,professional.course,no,no,no,4,S2,C2
3,4,41,blue-collar,married,unknown,unknown,no,no,3,S3,C3
4,5,24,technician,single,professional.course,no,yes,no,3,S3,C3

## Z-Test
#### with one numerical variable and sample size=3700

In [6]:
np.random.seed(10)
sample_size=3700
sample_age=np.random.choice(customer_details['age'],sample_size)

In [26]:
customer_details['age'].mean()

40.042713838852336

#### H0: The average age of the sample is 40 years
#### H1: The average age of the sample is not 40 years

In [9]:
from statsmodels.stats import weightstats as stests
ztest ,pval = stests.ztest(sample_age, x2=None, value=40)
print("p-value: ", pval)
if pval < 0.05:
    print(" we are rejecting null hypothesis")
else:
    print("we fail to reject null hypothesis")

p-value:  0.16951194812692927
we fail to reject null hypothesis

In [10]:
response=pd.read_csv('Customer_Response_data_p1.csv')
response.head()

   Customer_id   y
0            1  no
1            2  no
2            3  no
3            4  no
4            5  no

In [11]:
response_merged=pd.merge(customer_details,response,on='Customer_id',how='inner')
response_merged.head()

,Customer_id,age,job,marital,education,default,housing,loan,Region_Code,State_Code,City_Code,y
0,1,56,services,married,high.school,no,no,yes,3,S1,C1,no
1,2,45,services,married,basic.9y,unknown,no,no,3,S1,C1,no
2,3,59,admin.,married,professional.course,no,no,no,4,S2,C2,no
3,4,41,blue-collar,married,unknown,unknown,no,no,3,S3,C3,no
4,5,24,technician,single,professional.course,no,yes,no,3,S3,C3,no

## Z-Test
#### with one numerical variable and one categorical variable
#### sample size of 1850 for each group in the category

In [30]:
sample1=response_merged.query("y=='yes'").sample(n=1850,random_state=12)
sample2=response_merged.query("y=='no'").sample(n=1850,random_state=12)
sample=pd.concat([sample1,sample2])

#### H0: There is no difference in the mean ages of customers who agreed for term deposit
#### H1: There is a difference in the mean ages of customers who did not agree for term deposit

In [31]:
ztest ,pval = stests.ztest(sample1['age'],sample2['age'] , value=0, alternative='two-sided')
print("p-value: ", float(pval))

if pval<0.05:
    print("we reject null hypothesis")
else:
    print("we fail to reject null hypothesis")

p-value:  0.07121837719277567
we fail to reject null hypothesis